* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.categories ul {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 32px;
  list-style: none;
}
.active {
  font-weight: 800;
}
.item-list {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}
.item-list li {
  display: flex;
  justify-content: space-between;
}
